{% extends "base.html" %}

{% block content %}
<div class="panel-header panel-header-lg" style="height: 200px;">
  <div style="margin-left: 2rem;margin-right: 2rem;color:#fff;">
  <h1 class="d-none d-md-block d-lg-block">404 - Page Not Gevonden</h1>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <center>
        <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1574981574%2FKND2010reduced_400x400.jpg&f=1"/>
        <br/>
        <h3>
          I'm sorry but the page you requested has not been built yet by our lord and saviour Kees Huizing.<br>Please come back later.
        </h3>
        <h1>#KetaInMeta</h1>
      </center>
  </div>

</div>
</div>
{% endblock content %}
