<style>
    .loader {
    border: 8px solid #e2e2e2;
    border-top: 8px solid #f96332;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: relative;
    left: -50%;
    top: -25%;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<div id="loading" style="position: absolute; left: 50%; top: 35%; visibility: hidden;">
    <div class="loader"></div>
</div>