{% extends "base.html" %}

{% block content %}
<div class="panel-header panel-header-lg" style="height: 300px;">
  <div style="margin-left: 2rem;margin-right: 2rem;color:#fff;">
    <h1>Welcome to our DBL Visualization!</h1>
     {% for message in messages %}
      {% if message %}
      {% autoescape off %}
      <div class="alert alert-danger">
        <strong>Ooops!</strong> {{message}}
      </div>
      {% endautoescape %}
      {% endif %}
    {% endfor %}
    {% if messages %}
    <br>
    {% else %}
      <p style="margin-bottom: 20px;">
        Welcome to our DBL project! <br>
        <a href="/upload">Upload a dataset</a> or use the <a href="/search">search</a> function to search for a dataset.
      </p>
    {% endif %}
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart" style="height:350px;">
        <div class="card-header">
          <h5 class="card-category">Upload a new dataset</h5>
          <h4 class="card-title"> Upload Dataset</h4>
        </div>
        <div class="card-body">
          <form action="/upload/" method="post" class="form-horizontal" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                                <label>Data name</label>
                                <input type="text" class="form-control" name="dataname" maxlength="250" required="" id="id_dataname" autocomplete="off">
                            </div>
                            <div class="form-group">
                                    <label>Datafile</label>
                        <div class="input-group no-border">
                          <label class="form-control">
                          <label for="id_file_path" id="upload-file-info">Select file...</label> <input type="file" name="file_path" required="" id="id_file_path" hidden onchange="$('#upload-file-info').html(this.files[0].name)"></input>
                          </label>
                          <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="now-ui-icons files_paper"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="form-group pull-right">
                            <div class="col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
          </form>
        </div>
        <!-- <div class="card-footer">

        </div> -->
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="card card-chart" style="height:350px;">
        <div class="card-header">
          <h5 class="card-category">Previously uploaded datasets</h5>
          <h4 class="card-title"> Previous Datasets</h4>
        </div>
        <div class="card-body" id="datacard">
          <div class="table-responsive" style="height:250px;">
            <table class="table" id="datatable">
              <thead class=" text-primary">
                <tr>
                <th>#</th>
                <th>Dataname</th>
                <th>Filepath</th>
                <th>Uploaded at</th>
              </tr>
              </thead>
              <tbody id="databody"> 
                {% for data in latest_uploads %}
                <tr>
                  <th scope="row">{{data.id}}</th>
                  <td>
                    <a href="/display/{{data.id}}">{{data.dataname}}</a>
                  </td>
                  <td>/uploads/{{data.file_path}}</td>
                  <td>{{data.created_at}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock content %}
