{% extends "base.html" %}

{% block content %}
<div class="panel-header panel-header-lg">
  <div style="margin-left: 2rem;margin-right: 2rem;color:#fff;">
    <h1>Welcome to our DBL Visualization!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu turpis varius, pretium mi vel, posuere nisi. Vestibulum
      rhoncus sagittis risus et pulvinar. Quisque pharetra eleifend lacus vitae mollis. Curabitur dui leo, vulputate et dui
      id, tincidunt facilisis risus. Proin dolor diam, vulputate sit amet purus in, pharetra dictum sapien. Pellentesque
      commodo orci et vulputate egestas. Ut condimentum placerat risus, non pulvinar eros aliquet a. Praesent sed porta justo.
      Vestibulum volutpat convallis nisl, id consectetur neque mattis eu. Integer ultrices, nisi vitae interdum bibendum,
      erat nisi condimentum justo, et scelerisque augue turpis nec augue. Suspendisse vitae diam neque. Proin metus urna,
      accumsan ut tempor et, tincidunt ut enim. Cras vitae nibh et augue fringilla hendrerit nec at nisi. Duis sit amet imperdiet
      magna, ut varius neque. Suspendisse maximus nec orci vel semper. Praesent pulvinar pretium eros vel pretium. Integer
      dignissim condimentum fermentum. In hac habitasse platea dictumst. Morbi scelerisque consectetur luctus. Suspendisse
      potenti. Integer et varius augue. Duis nec nibh maximus, rutrum odio id, auctor nibh. Nulla est est, facilisis sit
      amet tellus sed, lacinia ultrices nunc. In consectetur ut diam nec finibus. Quisque ultricies quam sed est dignissim
      hendrerit. Nullam ante sem, congue nec odio semper, laoreet condimentum lorem.
    </p>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Upload a new dataset</h5>
          <h4 class="card-title"> Upload Dataset</h4>
        </div>
        <div class="card-body">
          <p>Click
            <a href="/upload">here</a> to upload a new dataset</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Previously uploaded datasets</h5>
          <h4 class="card-title"> Previous Datasets</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th scope="col">#</th>
                <th scope="col">Dataname</th>
                <th scope="col">Filepath</th>
                <th scope="col">Uploaded at</th>
              </thead>
              <tbody>
                {% for data in latest_uploads %}
                <tr>
                  <th scope="row">{{data.id}}</th>
                  <td>
                    <a href="/display/{{data.id}}">{{data.dataname}}</a>
                  </td>
                  <td>/uploads/{{data.file_path}}</td>
                  <td>{{data.created_at}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock content %}