{% extends "base.html" %} {% block content %}
<div class="panel-header panel-header-lg" style="height: 300px;">
    <div style="margin-left: 2rem;margin-right: 2rem;color:#fff;">
        <h1>Visualization for <strong>{{data.dataname}}</strong></h1>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Dataset information</h5>
                    <h4 class="card-title"> Information </h4>
                    <p><a href="/display/{{data.id}}/read">Read dataset</a> | <a href="/display/{{data.id}}/json">Get JSON</a></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="overflow: hidden;">
                        <table class="table" >
                            <thead class=" text-primary">
                                <th scope="col">Id</th>
                                <th scope="col">Dataname</th>
                                <th scope="col">Filepath</th>
                                <th scope="col">Uploaded at</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{data.id}}</td>
                                    <td>
                                        <a href="/display/{{data.id}}">{{data.dataname}}</a>
                                    </td>
                                    <td>/uploads/{{data.file_path}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Visualization</h5>
                    <h4 class="card-title"> Visualization 1</h4>
                </div>
                <div class="card-body">
                    <p>Visualization 1</p>
                    <img src="https://i.pinimg.com/originals/45/e5/dc/45e5dce7197c28c85b639c2fd86ef374.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Visualization</h5>
                    <h4 class="card-title"> Visualization 2</h4>
                </div>
                <div class="card-body">
                    <p>Visualization 1</p>
                    <img src="https://www.safaribooksonline.com/library/view/expert-data-visualization/9781786463494/assets/image_03_008.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock content %}