<!-- ImgModal vis 1 -->
<div class="modal fade" id="imgmodal1" tabindex="-1" role="dialog" aria-labelledby="imgmodal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="">
            <div class="modal-body" id="imgvis1">
                

            </div>
        </div>
    </div>
</div>
<!-- ImgModal vis 2 -->
<div class="modal fade" id="imgmodal2" tabindex="-1" role="dialog" aria-labelledby="imgmodal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="">
            <div class="modal-body" id="imgvis2">
            </div>
        </div>
    </div>
</div>