<!-- Modal vis 1 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tutorial Visualization 1</h4>
            </div>
            <div class="modal-body">
                Visualization 1 is a collapsible tree, also known as a node-link tree diagram. <br>
                <hr>
                <h6>General usage</h6>
                If you click on a blue node, then the node becomes orange and it will show all of its children. <br>
                If you want more clarity, you can use the middle mouse button to zoom in and out. Pressing the left mouse button and dragging the figure around will move the graph accordingly.
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal vis 2 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tutorial Visualization 2</h4>
            </div>
            <div class="modal-body">
                Visualization 2 is a sunburst graph.<br>
                <hr>
                <h6>General usage</h6>
                For the sunburst, only the first two layers are shown with the root node being the white one in the middle. Click on a node to go deeper into the tree. The clicked node now becomes the middle circle.
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>