{% extends "base.html" %} {% block content %}
<div class="panel-header panel-header-lg" style="height: 300px;">
    <div style="margin-left: 2rem;margin-right: 2rem;color:#fff;">
        <h1>Dataset library</h1>
        <p>
            These are all the uploaded datasets, follow the link to load the visualizations
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Previously uploaded datasets</h5>
                    <h4 class="card-title">All Datasets</h4>
                    <div style="margin-top:20px;">
                        <div class="form-group">
                            <label for="dataname">Search for a dataset</label>
                            <input type="text" onkeyup="searchData()" autocomplete="off" name="q" class="form-control" id="datasetname" aria-describedby="datasetname"
                                placeholder="Enter dataset name">
                        </div>
                    </div>
                    <hr style="margin-top: 50px;">
                </div>
                <div class="card-body" id="datacard">
                    <div class="table-responsive">
                        <table class="table" id="datatable">
                            <thead class=" text-primary">
                                <th scope="col">Dataname</th>
                                <th scope="col">Filepath</th>
                                <th scope="col">Uploaded at</th>
                            </thead>
                            <tbody id="databody">
                                {% for data in data %}
                                <tr>
                                    <td>
                                        <a href="/display/{{data.id}}">{{data.dataname}}</a>
                                    </td>
                                    <td>{{data.file_path.url}}</td>
                                    <td>{{data.created_at}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock content %} {% block content_scripts%}

{% endblock %}